@import '../../../config/_styles.scss';

.user_layout_container{
    background-color:$light_color;
    &_content{
        padding:$content_horizontal;
        display: flex;
        &_left{
            width: 15%;
            margin-right:50px;
            border-radius: $border-radius_container;
            &_menu{
                .active_menu_tbn{
                    background: $red;
                    color:white;
                    font-weight: $heavy_bold;
                    .left_menu_item_container{
                        .MuiButtonBase-root {
                            .left_menu_item_icon{
                                color:white;
                            }
                        }
                    }
                    
                }
                padding:0!important;
                background: white;

                @extend .middle_font;

                .left_menu_item_container{
                    .left_menu_item_btn{
                        padding:15px 20px;
                        .left_menu_item_icon{
                            color:$red;
                            display: flex;
                            margin: 0 auto;
                        }
                    }
                   
                }
            }
        }
        &_right{
            // background-color: white;
            width:100%;

        }
    }
}

.inactive_child_child_menu_tbn{
    background-color: white;
    color:black;
    font-weight: 400;
    div{
        padding: 10px 0 10px 40px; 

    }
}

.active_child_child_menu_tbn{
    background-color: $red;
    color:white;

    div{
        padding: 10px 0 10px 40px; 

    }
}