@import './../../config/_styles.scss';

.login_container{
    margin-top: 50px;
    margin-bottom: 100px;
    
    &_content{
        border:1px solid $base_color;
        border-radius: $border-radius_container;
        &_form {
            .MuiGrid-root{
                .MuiFormControl-root {
                    width: 100%;
                }
                .form_help_text{
                    color: $red!important;
                }
            }
        }
        &_login{
            @extend .big_font;
            color:$red;
            font-weight: $heavy_bold;
            margin-bottom: 20px;
        }
        .login_action_container{
            margin-bottom: 20px;
            margin-left: 16px;
        }
        .signin_footer{
            @extend .small_font;
            color:$red;
            margin-top: 10px;
        }
        .login_confirm_btn{
            background-color: $red;
            @extend .red_button;
        }
        .login_confirm_btn:hover{
            background-color: $red;
        }
        .login_input_field{
            .Mui-focused{
                color: black;
            }    
        }
    }
}

@media only screen and (max-width: 599px) {
    .login_container{
        .MuiContainer-root {
            max-width: 80%;
        }
    }
}

@media only screen and (max-width: 463px) {
    .login_action_container {
        display: flex;
        flex-direction: column!important;
        align-items: center;
        .MuiGrid-item {
            margin-bottom: 15px;
        }
    }
}