@import './../../config/_styles.scss';

.category_container{
    &_content{
        display: flex;
        padding: 0 $layout_horizontal 100px $layout_horizontal;
        &_left{
            &::-webkit-scrollbar {
                background-color: white;
                width: 8px;
              }
            &::-webkit-scrollbar-track {
                background-color: white;
              }
            &::-webkit-scrollbar-thumb {
                border-radius:10px;
                background-color: $red;
              }
            overflow-x: hidden;
            overflow-y: scroll;
            height: 100vh;
            width: 18%;
            padding-right: 15px;
            .category_container_filter{
                padding:0 10%;
                &_text{
                    @extend .middle_font;
                    font-weight: $heavy_bold;
                    color:$red;
                    margin-bottom: 15px;
                }
                .category_container_slider_group{
                    .MuiSlider-thumb,.MuiSlider-track {
                        color: $red !important;
                    }
                    .MuiSlider-rail{
                        color:$red_shadow;
                    }
                }
                .category_container_reset_btn{
                    margin: 30px 0;
                    @extend .red_outline_button;
                }
                .category_container_radio_group{
                    .MuiFormControlLabel-root{
                        .Mui-checked {
                            color:$red!important;
                        }
                        .MuiTypography-root {
                            @extend .middle_font; 
                            color:$dark_grey;
                        }
                    }
                }
                &_divider{
                    margin: 30px 0 20px 0;
                }
            }
        }
        &_right{
            display: flex;
            flex-wrap: wrap;
            margin-left: 100px;
            // padding: 0 $layout_horizontal 100px $layout_horizontal;
        }
        

    }
    .category_name_container{
        margin-left: 100px;
        &_link{
            text-decoration: none;
            @extend .big_font;
            text-transform: capitalize;
            color:$red;
            font-weight: $heavy_bold;
            display: flex;
            align-items: center;
            margin-bottom: $content_horizontal;
        }
    }
    &_search{
        display: flex;
        justify-content: center;
        width: 700px;
        margin: 50px auto 70px auto;
        &_btn{
            background-color: $red;
            font-weight: $heavy_bold;
            font-size: 20px;
            color:white;
            padding: 15px 20px;
            border-top-right-radius:  $border-radius_card;
            border-bottom-right-radius:  $border-radius_card;
            cursor: pointer;
        }
        &_input{
            border: 1px solid $base_color;
            padding: 5px 10px;
            border-top-left-radius:  $border-radius_card;
            border-bottom-left-radius:  $border-radius_card;
            input{
                font-size: 16px;
            }
        }
    }
}

@media only screen and (max-width: 1023px) {
    .category_container_content_left {
        width: 40%;
    }
}

@media only screen and (max-width: 767px) {
    .category_container .category_name_container {
        margin-left: 45px;
    }
    .category_container_search {
        width: 80%;
        margin: 50px auto 50px auto;
    }
    .category_container_content {
        padding: 0 30px 100px 30px;
        &_left {
            width: 60%;
        }
        &_right {
            margin-left: 10px;
        }
    }
    .category_container_content_left {
        width: 150%;
    }
}

@media only screen and (max-width: 280px) {
    .category_container{
        &_content{
            &_left{
                overflow-x: scroll;
            }
        }
    }
}