@import './../../config/_styles.scss';

.register_container{
    margin-top: 30px;
    margin-bottom: 100px;
    &_content{
        border:1px solid $base_color;
        border-radius: $border-radius_container;
        .MuiBox-root{
            .MuiBox-root {
                .MuiGrid-root {
                    .form_help_text{
                        height: 25px;
                        color: $red!important;
                    }
                    .form_help_text_type{
                        margin-left: 0!important;
                    }
                    .form_full_width{
                        width: 100%;
                        
                        .form_help_text_psw{
                            height: 50px;
                        }
                    }
                }
            }
        }
        &_title{
            @extend .big_font;
            color:$red;
            margin-bottom: 20px;
            font-weight: $heavy_bold;
        }
        .register_action_container{
            margin-bottom: 20px;
        }
        .register_footer{
            @extend .small_font;
            color:$red;
            margin-top: 10px;
        }
        .register_confirm_btn{
            background-color: $red;
            @extend .red_button;
        }
        .register_confirm_btn:hover{
            background-color: $red;
        }
        .radio_container,.register_input_field{
            .Mui-focused{
                color: black;
            }    
        }
    }
}

@media only screen and (max-width: 599px) {
    .register_action_container{
        .MuiGrid-root{
            margin: 0 auto;
        }
    }
    .register_container{
        .MuiContainer-root{
            max-width: 80%;
            .MuiBox-root {
                .MuiGrid-root {
                    .MuiGrid-item {
                        .MuiFormControl-root {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}