@import './../../config/_styles.scss';

.logout_container{
    text-align: center;
    margin-top: 120px;
    border: 1px solid $grey;
    width: 50%;
    margin-left: 25%;
    border-radius: $border-radius_container;
    margin-bottom: 100px;
    .logout_title{
        margin-top: 50px;
        @extend .big_font;
        padding: 0 0 20px 0;
        color:$red;
        font-weight: $heavy_bold;
    }
    .logout_content{
        @extend .middle_font;
        margin-bottom: 50px;
    }
    .logout_loading{
        margin-bottom: 50px;
        .loading_btn{
            border: none!important;
            .MuiLoadingButton-loadingIndicator {
                .MuiCircularProgress-root{
                    width: 30px!important;
                    height: 30px!important;
                }
            }
        }
    }

}