@import '../../../config/_styles.scss';

.user_profile_container{
    padding: $content_horizontal;
    box-sizing: border-box;
    background-color: white;
    border-radius: $border-radius_container;
    &_box{
        .MuiGrid-container {
            .update_confirm_btn{
                @extend .red_button;
            }

            .MuiGrid-item {
                margin: auto;
            }
            .user_profile_container_box_content{
                display: flex;
                align-items: center;
                margin-bottom: 30px;
                &_title{
                    @extend .middle_font;
                    width: 100px;
                    margin-right: 10px;
                }
                &_input{
                    width:60%;
                }
                &_type{
                    text-transform: capitalize;
                }
            }
        }
    }

}

@media only screen and (max-width: 767px) {
    .user_profile_container_box .MuiGrid-container .user_profile_container_box_content{
        margin-bottom: 0!important;
    }
    .red_button, .user_profile_container_box .MuiGrid-container .update_confirm_btn{
        margin-left: 24px
    }
}