@import '../../../config/_styles.scss';

.merchant_dashboard_container_title{
    @extend .big_font;
    color:$red;
    font-weight: $heavy_bold;
    margin-bottom: 40px;
    margin-top: 20px;
}

.merchant_dashboard_container_content_title{
    @extend .middle_font;
    font-weight: $heavy_bold;
    color:$red;
    margin-bottom: 30px;
}

.merchant_dashboard_container_block{
    background-color: white;
    padding:$content_vertical 20px;
    border-radius: $border-radius_container;
    margin-bottom: 40px;
    box-shadow: $shadow_middle;
}

.merchant_dashboard_container{
    &_top{
        .merchant_dashboard_container_content{
            display: flex;
            justify-content: space-between;
            &_left{
                .merchant_dashboard_container_content_container{
                    .merchant_dashboard_container_content_text{
                        &_amount{
                            @extend .big_font;
                            font-weight: $heavy_bold;
                            color:$red;
                        }
                        &_title{
                            @extend .middle_font;
                            font-weight: $heavy_bold;
                            margin-bottom: 5px;
                            margin-top: 30px;
                        }

                    }
                }
          
            }
        }

    }
}