@import '../../../config/_styles.scss';

.merchant_dashboard_container_title{
    @extend .big_font;
    color:$red;
    font-weight: $heavy_bold;
    margin-bottom: 40px;
    margin-top: 20px;
}

.merchant_dashboard_container_content_title{
    @extend .middle_font;
    font-weight: $heavy_bold;
    color:$red;
    margin-bottom: 30px;
}

.merchant_dashboard_container_block{
    background-color: white;
    padding:$content_vertical 20px;
    border-radius: $border-radius_container;
    margin-bottom: 40px;
    box-shadow: $shadow_middle;
}
.merchant_dashboard_container_bottom{
    .recharts-wrapper{
        width: 100%!important;

        svg{
            width: 100%;
        }

    }
    .recharts-legend-wrapper{
        width: 100%!important;


    }
}

.merchant_dashboard_container{
    &_top{
        .merchant_dashboard_container_content{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &_left{
                width: 28%;

                .merchant_dashboard_container_content_container{
                    
                    .merchant_dashboard_container_content_chart{
                        width: 100%;
                        .recharts-wrapper{
                            width: 100%!important;
                            svg{
                                width: 100%;
                            }

                        }
                    }
                    .merchant_dashboard_container_content_text{
                        &_amount{
                            @extend .big_font;
                            font-weight: $heavy_bold;
                            color:$red;
                        }
                        &_title{
                            @extend .middle_font;
                            font-weight: $heavy_bold;
                            margin-bottom: 5px;
                            margin-top: 30px;
                        }

                    }
                }
          
            }
            &_right{
                margin-right: 40px;
            }
        }

    }
}

@media only screen and (max-width: 1024px) {
    .merchant_dashboard_container_top .merchant_dashboard_container_content {
        justify-content: space-between;
        padding:0 50px;
    }
    .merchant_dashboard_container_top .merchant_dashboard_container_content_left {
        width: 40%;
    }
}
@media only screen and (max-width: 767px) {
    .merchant_dashboard_container_top .merchant_dashboard_container_content {
        padding:0;
    }
}
@media only screen and (max-width: 414px) {
    .merchant_dashboard_container_top .merchant_dashboard_container_content_left {
        width: 100%;
    }
}

