@import './../../config/_styles.scss';

.cart_container{
    margin:5px 28px 0 0;
    a{
        .cart_container_badge{
            .MuiBadge-badge {
                font-weight: $heavy_bold;
                background-color:$yellow;
            }
            .cart_container_cart{
                path{
                    fill:white;
                }
            }
            .MuiBadge-badge{
                color:white;
            }
        }
    }
 
}
.user_setting_container{
    .MuiPaper-root {
        .MuiList-root{
            a{
                text-decoration: none!important;
                color:$red;
                .MuiButtonBase-root {
                    p{
                        @extend .middle_font;
                        font-weight: $heavy_bold;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

.navigation_container{
    background-color: $red !important;
    &_menu_icon{
        color:white;
    }

    .login_register_container{
        color:white;
       
        a{
            @extend .middle_font;
            color:white;
            text-decoration: none;
            margin: 0 7px;
            font-weight: $heavy_bold;
        }
    }
}