@import '../../../config/_styles.scss';

.merchant_profile_container{
    padding: $content_horizontal;
    box-sizing: border-box;
    background-color: white;
    box-shadow: $shadow_middle;

    border-radius: $border-radius_container;
    &_box{
        .MuiGrid-container {
            .update_confirm_btn{
                @extend .red_button;
                margin-left: 24px

            }
            // .update_confirm_btn:hover{
            //     background-color: $red_shadow;
            // }

            .MuiGrid-item {
                margin: auto;
            }
            .merchant_profile_container_box_content{
                display: flex;
                align-items: center;
                margin-bottom: 30px;
                &_title{
                    @extend .middle_font;
                    width: 100px;
                    margin-right: 10px;
                }
                &_input{
                    width:60%;
                }
                &_type{
                    text-transform: capitalize;
                }
            }
        }
    }

}
@media only screen and (max-width: 1023px) {
    .merchant_profile_container {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .merchant_profile_container {
        padding: 30px 40px;
        margin-left: 0;

    }
    .merchant_profile_container_box .MuiGrid-container .merchant_profile_container_box_content{
        margin-bottom: 0;
    }
    .merchant_profile_container_box .MuiGrid-container .merchant_profile_container_box_content_input {
        width: 100%;
    }
    .red_button, .merchant_profile_container_box .MuiGrid-container .update_confirm_btn{
        margin-left: 24px
    }
}

@media only screen and (max-width: 414px) {
    .merchant_profile_container {
        padding: 35px 20px;
    }

    .merchant_profile_container_box .MuiGrid-container .merchant_profile_container_box_content {
        flex-direction: column;
    }

    .merchant_profile_container_box .MuiGrid-container .merchant_profile_container_box_content_title {
        margin-right: auto;
    }
    .merchant_profile_container_box_content_type{
        flex-direction: row!important;
        .merchant_profile_container_box_content_title{
            margin-right: 0!important;
        }
    }
}