@import './../../config/_styles.scss';

.footer_container{
    background-color: $base_color;
    padding:50px $layout_horizontal 20px $layout_horizontal;
    &_top{
        display: flex;
        justify-content: space-evenly;

    
    }

    .footer_content_container{
        width: 100%;
        &_img {
            margin-bottom: 20px;
            max-width: 100px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        &_text{
            @extend .middle_font;
            color: $red;
            font-weight:$heavy_bold;
            max-width: 50%;
        }
        ul{
            padding-left: 0px;
             li{
                 margin:10px 0;
                list-style-type: none;
                 a{
                    @extend .middle_font;
                     text-decoration: none;
                     color:$dark_grey;
                     &:hover{
                        cursor: pointer;
                     }
                 }
             }
         }
        .follow_us_table{
            margin:1em 0;
            tr{
                td{
                    margin-right: 15px;
                    a{
                        svg{
                            path{
                                fill:$dark_grey;
                            }
                        }
                    }
                }
            }
         }
        &_content_title{            
                @extend .middle_font;
                color: $red;
                font-weight:$heavy_bold;
        }
    }

}