@import '../../../config/_styles.scss';

.merchant_container{

  

    &_bottom{
        padding: 0 $content_vertical $content_vertical $content_vertical;
        box-sizing: border-box;
        table{
            .merchant_container_bottom_body{
                border: 1px solid $base_color;

                tr{
                    background-color: white;
                    th, td{
                        @extend .small_font;
                    }
                    .merchant_container_bottom_body_btn_container{
                        text-align: center;
                        .merchant_update_btn, .merchant_delete_btn{
                            @extend .small_font;
                            text-transform: capitalize;
                            border:1.5px solid $red;
                            color:$red;
                            margin-bottom: 10px;
                        }
                        .merchant_update_btn:hover,.merchant_delete_btn:hover{
                            border:1.5px solid $red;
                            background-color: $red;
                            color:white;
                        }
                    }
                    .merchant_container_bottom_body_img_container{
                        width:60px;
                        img{
                            width: 100%;
                        }
                    }
                    td{
                        border-left: 1px solid $base_color;
                    }
                }
            }
            .merchant_container_bottom_table_head{
                .merchant_container_bottom_table_row{
                    background-color: $red;
                    th{
                        @extend .middle_font;
                        background-color:$base_color;
                        text-align: center;
                        color: $dark_grey;
                        font-weight: $heavy_bold;
                    }
                }
            }

        }
    }
    &_top{

        padding: $content_vertical;
        .merchant_add_product{
            @extend .middle_font;
            border:1.5px solid $red;
            color:$red;
            text-transform: capitalize;
        }
        .merchant_add_product:hover{
            border:1.5px solid $red;
            background-color: $red;
            color:white;
        }
    }
}

.add_product_container{
    &_box{
        overflow: auto;
        width: 70%;
        margin-top: 5%;
        margin-left: 15%;
        height:70%;
        background-color: white;
        padding:50px;
        border-radius: $border-radius_container;
        
        &_title{
            font-size: 24px!important;
            line-height: 36px!important;
            padding: 0 0 30px 0;
            color:$red;
            text-align: center;
            font-weight: $heavy_bold!important;
            
        }
        &_content{
            display: flex;
            align-items: center;
            &_title{
                @extend .middle_font;
                margin-right: 10px;
                width:100px;
            }
            &_input{
                .Mui-focused{
                    color: black;
                   
                }  
            }
           
        }
        .add_confirm_btn{
            background-color: $red;
            text-transform: capitalize;
            @extend .middle_font;
            padding: 10px 20px;
        }
        .add_confirm_btn:hover{
            background-color: $red_shadow;
        }
    }
}